@model IEnumerable<Model_Zupree.ProductViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="page-wrapper  font-poppins">
    <div class="wrapper">
        <div class="card card-3">
            <div class="container-fluid">*@
                <img src="~/App_Images/8rch3w4dn6051.jpg" style="max-width: 100%;" />
                @*<div class="my-5">
                    <div class="row">
                        @foreach (var item in Model)
                        {<div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="@Url.Content(item.ImageUrl)" alt="@item.ImageName" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Name : @Html.DisplayFor(modelItem => ProductName)</h5>
                                        <p class="card-text">Product Name : @Html.DisplayFor(modelItem => item.Quantity)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>*@
            @*</div>
        </div>
    </div>
</div>*@
